name: Create Prod Release

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Checkout relevant branches
      run: |
       git checkout -b temp
       git checkout prod
    - name: Initialize git config
      run: |
       git config user.name "GitHub Actions"
       git config user.email noreply@github.com
    - name: Create merge commit
      run: |
       git merge --squash temp
       git commit -m 'Release ${{ github.event.release.tag_name }}'
       git push prod
